.container {
  width: 600px;
  height: 1600px;
  background-color: aquamarine;
  margin: auto;
  position: relative;
}

.box1{
    width: 200px;
    height: 200px;
    border: 10px solid rebeccapurple;
    /*position: relative; /* can change the position ia needed in staticc we can not dod that */
    right: 100px;
    top: 100px;
}
.box2{
    width: 200px;
    height: 300px;
    border: 10px solid rgb(31, 196, 28);
   /* position: absolute;*/
   position:sticky;
   top: 50px;
    /*right: 300px;*/
}
.box3{
    width: 200px;
    height: 200px;
    border: 10px solid rgb(228, 15, 122);
}
* {
  box-sizing:border-box;
}
/*static ,relative ,fixed ,sticky*/
