*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container{
    position: relative;
    width: 200px;
    height: 200px;
}

.box{
    width: 80px;
    height: 80px;
    background: #00eaff;
    border-radius: 10px;
    position: absolute;
    transition: all 1.5s ease;
}

.box1{ top: 0; left: 0; }
.box2{ top: 0; right: 0; }
.box3{ bottom: 0; left: 0; }
.box4{ bottom: 0; right: 0; }

.box-container:hover .box1{
    top: -10vh;
    left: -10vw;
    transform: rotate(200deg);
    background: #ff00ff;
}

.box-container:hover .box2{
    top: -10vh;
    right: -10vw;
    transform: rotate(-200deg);
    background: #ffff00;
}

.box-container:hover .box3{
    bottom: -10vh;
    left: -10vw;
    transform: rotate(-200deg);
    background: #ff5500;
}

.box-container:hover .box4{
    bottom: -10vh;
    right: -10vw;
    transform: rotate(200deg);
    background: #00ff55;
}